body{
    background-color: brown;
    color:white;
    text-align:Center;
    font-family:arial ;
    font-size:35px;
}
header {
   background-color: blue;
    color:green;
    border:5px  solid pink;
}